{
  "env": {
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "cypress"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all"
      },
      {
        "usePrettierrc": false
      }
    ],
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react/prop-types": 1,
    "trailingComma": "all",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "settings": {
    "import/core-modules": [
      "gatsby",
      "prop-types",
      "dotenv",
      "@reach/router",
      "slash"
    ]
  }
}
